@using DownloadableProduct.Domain.Dto.Product
@using DNTPersianUtils.Core
@model ProductDto
@{
    var title = Model?.Title;
    if (string.IsNullOrEmpty(title))
    {
        title = "خطا";
    }
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li class="active">@title</li>
        </ol>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="product__detail">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model == null)
                    {
                        <div class="alert alert-danger">
                            خطا - شناسه محصول درخواستی نامعتبر  می باشد
                        </div>
                    }
                    else
                    {
                        @Html.Partial("ErrorPartialView")
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <img src="~/Files/@Model.Image" class="img-responsive img-thumbnail" />
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <h1 class="product__detail__title">@Model.Title.ToPersianNumbers()</h1>
                            <div>
                                قیمت :
                                @if (Model.Price == 0)
                                {
                                    <span>رایگان</span>
                                }
                                else
                                {
                                    <span>@Model.Price.ToString("#,##").ToPersianNumbers() تومان</span>
                                }

                            </div>
                            <div>پسوند فایل : @Model.Extension.ToPersianNumbers()</div>
                            <div>ابعاد : @Model.Dimensions.ToPersianNumbers()</div>
                            <div>طراح : <a href="/profle/@Model.UserId">@Model.User?.FullName</a></div>
                            @if (Model.Price == 0 && Model.FileLength.HasValue)
                            {
                                <div>حجم فایل : @DownloadableProduct.Utillity.FileUtility.GetLength(Model.FileLength.Value).ToPersianNumbers()</div>
                            }
                            <div style="margin-top: 10px;">
                                @if (Model.Price == 0)
                                {
                                    <a href="/Home/Download/@Model.Id" class="btn btn-success">دانلود طرح</a>
                                }
                                else
                                {
                                    <a href="/Home/PurchaseRequest/@Model.Id" class="btn btn-success">خرید طرح</a>
                                }

                            </div>
                            <hr />
                            <div>@Model.Description.ToPersianNumbers()</div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>

