@using DownloadableProduct.Domain.Dto.Product
@using DNTPersianUtils.Core
@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model List<BuyDto>
@{
    ViewData["Title"] = "فروش های من - آی گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li><a href="/User">ناحیه کاربری</a></li>
            <li class="active">فروش های من</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div class="panel panel-success">
                    <div class="panel-heading">فروش های من</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>عنوان </th>
                                    <th>قیمت</th>
                                    <th> تعداد فروش</th>
                                    <th>جزییات خرید</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td colspan="5">تاکنون فروشی نداشته اید</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr data-role="@(Html.Raw(new HtmlString(JsonConvert.SerializeObject(item.Users))))">
                                            <td>@((i++).ToPersianNumbers())</td>

                                            <td>@item.ProductTitle.ToPersianNumbers()</td>
                                            <td>
                                                @item.ProductPrice.ToString("#,##").ToPersianNumbers() تومان
                                            </td>
                                            <td>@item.CountBuy.ToPersianNumbers()</td>
                                            <td>
                                                <button data-role="click" class="btn btn-success">مشاهده</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>ٌ
        </div>
    </div>
</div>

<script>
    $(function(){
        $('[data-role="click"]').on('click',function() {
           var model =  $(this).closest('tr').attr('data-role');
           debugger
           console.log(model);
        })
    })
</script>