@using DownloadableProduct.Domain.Dto.Product
@using DNTPersianUtils.Core
@using Microsoft.AspNetCore.Html
@using Newtonsoft.Json
@model List<BuyDto>
@{
    ViewData["Title"] = "فروش های من - آی گرافیک";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<div class="bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">آی  گرافیک</a></li>
            <li><a href="/User">ناحیه کاربری</a></li>
            <li class="active">فروش های من</li>
        </ol>
    </div>
</div>

<div class="login">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div class="panel panel-success">
                    <div class="panel-heading">فروش های من</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>عنوان </th>
                                    <th>قیمت</th>
                                    <th> تعداد فروش</th>
                                    <th>جزییات خرید</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td colspan="5">تاکنون فروشی نداشته اید</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr data-role='@(Html.Raw(new HtmlString(JsonConvert.SerializeObject(item.Users))))'>
                                            <td>@((i++).ToPersianNumbers())</td>

                                            <td>@item.ProductTitle.ToPersianNumbers()</td>
                                            <td>
                                                @item.ProductPrice.ToString("#,##").ToPersianNumbers() تومان
                                            </td>
                                            <td>@item.CountBuy.ToPersianNumbers()</td>
                                            <td>
                                                <button data-role="click" class="btn btn-success">مشاهده</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">جزئیات فروش</h4>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>                         
                          <th>نام خریدار</th>
                           <th>تاریخ</th>
                      </tr>
                  </thead>
                  <tbody>
                      
                  </tbody>
              </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>

  </div>
</div>

<script>
    $(function(){
        $('[data-role="click"]').on('click',function() {
           var model =JSON.parse($(this).closest('tr').attr('data-role'))        
           console.log(model);
           var txt = '';
            model.map(function(item) {
                console.log(item)
                txt += '<tr><td>'+item.UserFullName+'</td><td>'+item.BuyDate+'</td></tr>'
            })
           $('[class="modal-body"] > .table-responsive > .table > tbody').html(txt);
        $('#myModal').modal('show');
        })
    })
</script>